@font-face {
  font-family: "Roboto";
  src: url(Fonts/Roboto/Roboto-Light.ttf);
}
body {
  font-family: "Roboto";
}

header {
  margin: 25px 0px;
}

.title {
  text-align: center;
  font-size: 4rem;
}

.gameboard-container {
  background-color: black;
  display: grid;
  grid-template-columns: minmax(100px, 20vh) minmax(100px, 20vh) minmax(
      100px,
      20vh
    );
  gap: 1px;
  width: fit-content;
  margin: 0 auto;
}

.cell {
  aspect-ratio: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  padding: 1rem;
}

.github-icon {
  width: 4rem;
  margin: 0px auto 0.5rem auto;
  display: block;
}

.github-icon img {
  width: 100%;
}
