@font-face {
  font-family: "Roboto";
  src: url(../Fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-medium";
  src: url(../Fonts/Roboto/Roboto-Medium.ttf);
}

body {
  font-family: "Roboto";
}

header {
  margin: 25px 0px;
}

.title {
  text-align: center;
  font-size: 4rem;
}

.backdrop {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  transition: opacity 200ms linear;
}

.modal {
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  min-width: 250px;
  width: 30vw;
  height: 25vh;
  border-radius: 10px;
  z-index: 10;
}

#game-over-modal p{
  font-family: "Roboto-Medium";
  font-size: 2rem;
  font-weight: bold;
}

#game-over-modal button {
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: .5rem 2rem;
  width: 50%;
}

button:hover {
  filter: brightness(85%);
}

button:active {
  filter: brightness(115%);
}

.open {
  display: flex;
  opacity: .97;
}

#winner-mark {
  font-size: 3rem;
  color: grey;
}

.gameboard-container {
  background-color: black;
  display: grid;
  grid-template-columns: minmax(100px, 20vh) minmax(100px, 20vh) minmax(100px, 20vh);
  gap: 1px;
  width: fit-content;
  margin: 0 auto;
  z-index: 0;
}

.cell {
  position: relative;
  aspect-ratio: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  opacity: .75;
}

/* x marker start */
.x1, .x2 {
  opacity: 0;
  position: absolute;
  top: 4%;
  left: 0;
  height: 100%;
  width: 100%;
  animation: .14s drawX linear;
  animation-fill-mode: forwards;
}

.x1 {
  stroke-dasharray: 578;
}

.x2 {
  stroke-dasharray: 615;
  animation-delay: .18s;
}

@keyframes drawX {
  0%{
    opacity: 0;
    stroke-dashoffset: 578;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
/* X marker End */

/* Circle Marker Start */
.circle {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  animation: .25s drawO linear;
  stroke-dasharray: 2311;
  animation-fill-mode: forwards;
}

@keyframes drawO {
  0%{
    opacity: 0;
    stroke-dashoffset: 2311;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
/* Circle Marker End */

#x-winner, #o-winner {
  position: relative;
}

#x-winner svg,
#o-winner svg{
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  padding: 1rem;
}

.github-icon {
  width: 4rem;
  margin: 0px auto 0.5rem auto;
  display: block;
}

.github-icon img {
  width: 100%;
}